.table
{
 background:rgb(233, 233, 235);
}

.add_btn{
 text-align:right;
}

.h1{
 font-family:Geneva, Tahoma, sans-serif
}

.mt-5{
 padding-top:45px;
}

.container{
 overflow:auto;
}

.main-container{
 margin:164px;
 margin-top:80px;
 background:rgb(234, 229, 229);
 padding:50px;
}

p{
 font-size:15px;
}